.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Adjust as needed */
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;

}

.heroText h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.heroText span {
  font-weight: bold;
  color: #4e9af1;

}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;

}

.social-icons a {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4e9af1;

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .heroText h1 {
    font-size: 2rem;
  }

  .heroText p {
    font-size: 1rem;
  }

  .social-icons {
    gap: 1rem;
  }

  .social-icons a {
    font-size: 1.5rem;
  }
}